@keyframes soughtGameDropsDown {
    0% {top:-150vh;}
    100%{top:0vh;}
}

@keyframes ulGameDK {
    0%{left:200vh;}
    100%{left:0vh;}

}

/*DPAD CSS*/

.specificityMessage{
    font-size: 1.4em;
}

main {
	font-family: 'Bitsumishi', sans-serif;
	letter-spacing: .13em;
	color: #75b8c8;
	
}

.messengerBoy {
	font-size: 3vw;
}


@font-face {
	font-family: 'Bitsumishi';
	src: url('assets/fonts/BITSUMIS.TTF') format('truetype');
}

h4 {
	text-align: center;
	display: block;
	font-size: .4em;
}


body{	
	background:#220C10;

}

header h1 {
	text-align: center;
	font-size: 4em;
	margin-top: .2em;
	margin-bottom: 0px;
}

header span {
	display: block;
	text-align: center;
	font-size: 1.4em;
    margin: .5em 0;
}

p.descriptor{
    text-align: center;
    font-size: 1.35em;
    margin-left: 1em;
    margin-right: 1em;
    border:solid #6cc551;
 }

form.js-search-form{
	display: block;
	text-align: center;
}

/*div:not(:last-of-type)  {
	list-style:none;
    border-bottom: white solid 3px;
}*/

p.developerName {
	font-size: 65%;
}

form.js-search-form input {
	background: #220C10;
    color: #75b8c8;

    letter-spacing: .13em;


    border: solid #75b8c8;
    text-indent: 1em;
    font-size: 90%;

    width: 75%;
    padding:1vw;

    text-align: center;

}

form.js-search-form input, button {
	font-family: 'Metal Gear Solid 2', sans-serif;
	margin: 0px;
}

button {
    padding: 1vw;
    background: #220c10;
    border:solid #6cc551;
    color: #75b8c8;
}

button:hover {
    background: #b80c09;
    color: #220c10;
    border-color: #e5d67c;
}

.sought strong {
    color: #6cc551;
}

.primeTitle, .title {
	font-size: 1.5em;
    color: #6cc551;
}

.primeYear, .developerName, .platformList li, .consoleList li {
    color: #6cc551;
}

.consoleList li, .platformList li {
    list-style: inherit;
}

img {
	width: auto;
    max-width: 13em;
	height: auto;
    max-height: 11em;
	padding-left: .5em;
}

.year, .developer, .console {
	font-size: 1.3em;
}

ul.game {
    border: solid;
}

ul.game, li{
	list-style: none;
}


.sought {
	display: block;
	padding: 0 .3em;
	text-align: center;
}

.otros {
	display: block;
	text-align: center;
/*	border-top: solid white;
*/	padding: 0 2vw;
}

.otherGame {
    border:solid;
    padding:1vw;
}

/*For larger screens*/
/*zxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media only screen and (min-width: 1000px) {
	   
    .messengerBoy{
        font-size: 1.5vw;
    }
    
	ul  {
	list-style: none;
    
    }

    ul.game {
        position: relative;
        animation-name: ulGameDK;
        animation-duration: 2.5s;
    }
    
    .otros{
  padding-top: 3em;
    }
    
    
	

header span {
	font-size: 2.5em;
}
	
ul {
		
		margin:auto 30%;
		margin-top: 2vw;
		position: relative;
		padding-top:em;
/*		height: 40.5%;
*/	}

/*section.games{
background: rgba(0,0,0,0.6);
}*/
    
    .games{
/*        border: dashed 8px yellow;*/
        box-sizing: content-box;
        height: auto;
	
    }
    .relatedWork{
/*        border: groove red 3px;*/
                
    }
    
    .console{
        text-align:justify;
        
    }

    p.developerName {
    	font-size: 1.3vw;
    }
    
    .consoleList{
    /* border: blue solid 4px; */
    padding: 0;
    list-style: square;
    /* left: 1em; */
    width: 100%;
    text-align: left;
    box-sizing: content-box;
    margin-top: 0;
    margin-left: 0;
    }
    
    .soughtGame{
        box-sizing: content-box;
        height: auto;
    }
    
   
    .platformList{
        list-style:square;
        padding: 0;
        box-sizing: content-box;
        height: auto;
        font-size: .7em;
        display: block;
        margin-left:0;
    }

    .title,.year{
        font-size: 2em;
    }
    
    .developer{
        font-size: 1.4em;
    }
    .console{
        
        font-size: 2.2em;
        
    }
	

	.soughtConsole {
		font-size: 3em;
		box-sizing: border-box;
        
	}

	

	.otros {
		position: relative;
		clear: both;
		text-align: center;
		font-size: 3em;
        padding: 0;
	}

	img.image {
	    position: absolute;
    /* float: left; */
    /* clear: left; */
    /* padding: 1em; */
    /* margin-bottom: 4em; */
    right: 40vw;
    max-width: unset;
    max-height: unset;
    max-height: unset;
    max-width: 17vw;
    max-height: 22vw;
	}

	form.js-search-form input {
		height: auto;
		padding: 2vw;
		font-size: 2.4em;
        text-indent: 1em;
        width: 70%;
	}

	form.js-search-form button {
		font-size: 2.4em;
        padding:2vw;
        height: auto;
	}

	img#soughtImage {
		    width: 25vw;
    max-width: unset;
    max-height: unset;
    float: left;
    clear: left;
    padding: 1em;
    position: relative;
    animation-name: soughtGameDropsDown;
    animation-duration: 2.5s;
	}

	div:not(:last-of-type) {
		height: auto;
	}

	ul.game, li {
		list-style: none;
		padding:1vw;
	}
    .otherGame{
        margin-bottom: 3%;
    }

    .specificityMessage {
        font-size: 1.4em;
position: absolute;
right: 0;
width: auto;
max-width: 29%;
top: 80%;
    }
    .sought {
        display: block;
padding: 0 .3em;
text-align: center;
position: absolute;
right: 0;
width: auto;
float: right;
clear: both;
margin: auto;
max-width: 29%;
top: 60%;
    }
}/*end of media query!*/