/*DPAD CSS*/

.specificityMessage{
    font-size: 1.4em;
}

main {
	font-family: 'Bitsumishi', sans-serif;
	letter-spacing: .13em;
	color: black;
}



@font-face {
	font-family: 'Bitsumishi';
	src: url('assets/fonts/BITSUMIS.ttf') format('truetype');
}

h4 {
	text-align: center;
	display: block;
	font-size: .4em;
}

/*MOBILE STYLE*/




body{
/*	background: url('assets/marioCurtain.jpg') top left, rgba(0,0,0,0.5);*/
	background-size: cover;

}

header h1 {
	text-align: center;
	font-size: 4em;
	margin-top: .2em;
	margin-bottom: 0px;
	text-decoration: underline green;
}

header span {
	display: block;
	text-align: center;
	font-size: 1.4em;
    margin: .5em 0;
}

p.descriptor{
    font-family: monospace;
    text-align: center;
    font-size: 1.35em;
    margin-left: 1em;
    margin-right: 1em;
    background: #d0d6b5;
    
    
    
}

form.js-search-form{
	display: block;
	text-align: center;
}

ul:not(:last-of-type)  {
	list-style:none;
	color: black;
	font-size: 1.2em;
    border-bottom: red solid 3px;
}

form.js-search-form input {
	background: black;
	color: cyan;
	letter-spacing: .13em;
	text-indent: 1em;
    font-size: 1.13em;
    width: 80%;
    height: 10%;
    border-radius: 3em;
}

form.js-search-form input, button {
	font-family: 'Metal Gear Solid 2', sans-serif;
	padding: 3%;
	margin: 0px;
	
	border-top-left-radius: 1.8em;
	border-bottom-right-radius: 1.8em;
}

.primeTitle, .title {
	font-size: 1.5em;
}

img {
	width: auto;
    max-width: 13em;
	height: auto;
    max-height: 11em;
	padding-left: .5em;
}

.year, .developer, .console {
	font-size: 1.3em;
}



.sought {
	display: block;
	padding: 0 .3em;
	text-align: center;
}

.otros {
	display: block;
	text-align: center;
	text-decoration: underline;
	padding: 0 .5em;
}

/*For larger screens*/
/*zxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media only screen and (min-width: 460px) {
	body{
		color: black;
        background: #d0d6b5;
        border: solid 2px #df2935;
	}
    
    
    
    main, li{
        color: #1178af;
    }
    
    .messengerBoy{
        font-size: 1.9em;
    }
    
	ul  {
	list-style: none;
	color: black;
	background: rgba(0,0,0,0);
    
    }
    .image{
        height: auto;
     
        
        width: auto;
        
        
    }
    .otros{
  padding-top: 3em;
    }
    
    
	

header span {
	font-size: 2.5em;
}
	
ul {
		
		/*margin-bottom: 2em;
		float: right;
		clear: right;*/
		position: relative;
				/*border: black 1px solid;*/
		padding-top:em;
		height: 40.5%;
	}

/*section.games{
background: rgba(0,0,0,0.6);
}*/
    
    .games{
/*        border: dashed 8px yellow;*/
        box-sizing: content-box;
        height: auto;
	
    }
    .relatedWork{
/*        border: groove red 3px;*/
                
    }
    
    .console{
        text-align:justify;
        float: left;
        
    }
    
    .consoleList{
/*        border: blue solid 4px;*/
        padding: 0;
        list-style: square;
        left: 1em;
        width: auto;
        text-align: left;
        
        font-size: .5em;
    }
    
    .soughtGame{
        box-sizing: content-box;
        height: auto;
    }
    
   
    .platformList{
        list-style:square;
        padding: 0;
        box-sizing: content-box;
        height: auto;
        font-size: .7em;
        display: block;
        left: 1em;
    }

    .title,.year{
        font-size: 2em;
    }
    
    .developer{
        font-size: 1.4em;
    }
    .console{
        
        font-size: 2.2em;
        display: inline-block;
        position: relative;
    }
	

	.soughtConsole {
		font-size: 3em;
		box-sizing: border-box;
        float: left;
        
	}

	.sought {
		font-size: 3em;
		font-weight: 4px;
	}

	.otros {
		position: relative;
		clear: both;
		text-align: center;
		font-size: 3em;
        padding: 0;
	}

	img {
		position: relative;
/*
		height: 45%;
		width: 30%;
*/
		float: left;
		clear: left;
		padding: 1em;
		margin-bottom: 4em;
	}

	form.js-search-form input {
		height: 2.5em;
		padding: 2px;
		font-size: 2.4em;
		color: cyan;
        text-indent: 1em;
        width: 70%;
	}

	form.js-search-form button {
		font-size: 2em;
	}


}/*end of media query!*/