/*DPAD CSS*/

main {
	font-family: 'Metal Gear Solid 2', sans-serif;
	letter-spacing: .13em;
	
}

ul  {
	list-style: none;
}

@font-face {
	font-family: 'Metal Gear Solid 2';
	src: url('assets/fonts/mgs2.ttf') format('truetype');
}

/*MOBILE STYLE*/


body{
	/*height: 100%;*/
	background: rgba(0,2,0,0.4);
	border: solid 2px cyan;

	
}

header h1 {
	text-align: center;
	font-size: 4em;
	margin-top: .2em;
	margin-bottom: 0px;
	text-decoration: underline green;
}

header span {
	display: block;
	text-align: center;
	font-size: 1.4em;
}

form.js-search-form{
	display: block;
	text-align: center;
}



form.js-search-form input {
	background: black;
	color: cyan;
	letter-spacing: .13em;
	text-indent: 1em;
}

form.js-search-form input, button {
	font-family: 'Metal Gear Solid 2', sans-serif;
	padding: 3%;
	margin: 0px;
	font-size: 1.1em;
	border-top-left-radius: 1.8em;
	border-bottom-right-radius: 1.8em;
}

.primeTitle, .title {
	font-size: 1.5em;
}

img {
	width: 10em;
	height: 13em;
}

.year, .developer, .console {
	font-size: 1.3em;
}

.sought {
	display: block;
	padding: 0 .3em;
	text-align: center;
}

.otros {
	display: block;
	text-align: center;
	text-decoration: underline;
	padding: 0 .5em;
}

/*For larger screens*/

@media only screen and (min-width: 460px) {
	body{
	background: rgba(0,2,0,0.4);
	border: solid 2px cyan;

}
	/*main{
		margin-bottom: 100%;
	}*/

header span {
	font-size: 2.5em;
}
	
	ul {
		
		/*margin-bottom: 2em;
		float: right;
		clear: right;*/
		position: relative;
		margin-bottom: 4em;
		/*border: black 1px solid;*/
		padding-top: 3em;
		height: 48.5%;
	}
	.primeTitle, .title, .year, .developer, .console{
		color: black;
		position: block;
		font-size: 3em;
		position: relative;
		/*top: 2em;*/



	} 

	.sought {
		font-size: 3em;
		font-weight: 4px;
	}

	.otros {
		position: relative;
		
		clear: both;
		text-align: center;
		font-size: 3em;
	}

	img {
		position: relative;
		height: 45%;
		width: 30%;
		float: left;
		clear: left;
		padding: 1em;
		margin-bottom: 4em;
	}

	form.js-search-form input {
		height: 2.5em;
		padding: 2px;
		font-size: 3em;
		color: cyan;
	}

	form.js-search-form button {
		font-size: 2em;
	}


}